{% extends "learning_logs/base.html" %}

{% block header %}
    <div class="jumbotron">
        <h1>Acompanhe seu aprendizado.</h1>
    </div>
{% endblock header %}

{% block content %}

    {% if user.is_authenticated %}
    
        <h2>
            Sempre que você aprender algo novo sobre um tópico, 
            faça uma entrada resumindo o que você aprendeu.
        </h2>

    {% else %}
        
        <h2>
            <a href="{% url 'register' %}">Crie uma conta</a> 
            para utilizar o Leaning Log e liste os tópicos
            que você está aprendendo.
        </h2>

        <h2>
            Sempre que você aprender algo novo sobre um tópico, 
            faça uma entrada resumindo o que você aprendeu.
        </h2>
    {% endif %}
   
{% endblock content %}